* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/wallpaper_pokemon.jpg);
  color: #fff;
}

/* Formulario */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 60px;
}

h2 {
  margin: 30px 0;
  text-align: center;
}

form {
  width: 300px;
  margin: auto;
}

.contenedor {
  background: linear-gradient(145deg, #000000, #55009b);
  width: 450px;
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 500px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.contenedor::after,
.contenedor::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent 10%,
    #a200ff,
    transparent 50%
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 20px;
  animation: 6s spin linear infinite;
}

.contenedor::before {
  filter: blur(1.8rem);
  opacity: 0.7;
}

legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

legend {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

fieldset {
  border-radius: 5px;
}

.nombre,
.correo,
.mensaje {
  margin: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nombre input,
.correo input,
.mensaje textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 4px;
}

button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px 0 20px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
