* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.iconos {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  display: flex;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  border-right: 1px solid #ff0000;
  padding: 20px;
  transition: left 0.3s ease;
  flex-direction: column;
  gap: 20px;
}

.menu-desplegable.active {
  left: 0;
}

