* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: url(../img/wallpaper_main.webp);
}

/* Header */
header {
  background: linear-gradient(145deg, #000000, #55009b, #000000);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header img {
  width: 950px;
  height: 150px;
  object-fit: contain;
}

.iconos {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  display: flex;
  left: -250px;
  width: 250px;
  height: 100%;
  background: linear-gradient(145deg, #000000, #55009b, #000000);
  border-right: 1px solid #a200ff;
  padding: 20px;
  transition: left 0.3s ease;
  flex-direction: column;
  gap: 20px;
}

.menu-desplegable.active {
  left: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content .tarjetas {
  margin: auto;
}

.tarjetas {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  gap: 25px;
  flex-flow: row wrap;
}

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 450px;
  height: 250px;
  flex-direction: column;
  margin: 3% 0;
}

.tarjeta:hover {
  transform: scale(0.95);
  transition: 0.5s;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: red;
  border-radius: 10px;
  width: 100vh;
  height: 12vh;
  margin-top: 0.5%;
  padding: 0 15px;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
